<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    body {
      font-family: sans-serif;
    }
    .header {
      background-color: #f0f0f0;
      padding: 20px;
    }
    
    .content {
      margin: 20px;
    }
    
    a:hover {
      color: red;
    }
  </style>
</head>
<body>
  <header>
    <h1>Giáo xứ Tràng Lưu</h1>
  </header>

  <main>
    <p>Dear User,</p>

    <p>This email is to inform you about for service</p>

    <p>Sincerely,</p>
    <p>Cha quản xứ</p>
  </main>

  <footer>
    <p>Giáo xứ Tràng Lưu</p>
  </footer>
</body>
</html>