APP_DEBUG=false

# Database settings
DB_TYPE=postgres
DB_HOST=127.0.0.1
DB_NAME=parish_christianity_service
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=password

# Gateway
GATEWAY_URL=http://localhost:3000

# Services
SERVICE_PROJECT_HOST=127.0.0.1
SERVICE_PROJECT_PORT=3006
SERVICE_SHARE_HOST=127.0.0.1
SERVICE_SHARE_PORT=3001

# JWT
JWT_ACCESS_SECRET_KEY=3vQZmphQdrCQ46ls3fvEOUjk7STfn1y4
JWT_REFRESH_SECRET_KEY=4ofj7rTzB0m95FbpPKtQIijLgTKbMzfK
ACCESS_TOKEN_EXPIRATION=48h
REFRESH_TOKEN_EXPIRATION=7d

# File upload properties - cloudinary
CLOUD_NAME=dd9ain71r
CLOUDINARY_API_KEY=316965437714578
CLOUDINARY_API_SECRET=bJ_4g0x2t6bwIm54icpdnC2FNwc